@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    color: #FFF;
}

/**************************
   COMMONS
**************************/

/* CONTAINERS */

.flex-element {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}



/* TEXT FORMATTING */

.f-size-L {
    font-size: 20px;
    margin: 20px 0px;
}

.f-size-M {
    font-size: 16px;
    margin: 10px 0px;
}

.f-size-S {
    font-size: 12px;
}

.f-bold {
    font-weight: 800;
}

.f-trans {
    opacity: 80%;
}

/**************************
   MAIN LAYOUT - DESKTOP
**************************/

main {
    display: flex;
    height: calc(100vh - 100px);
}


/* SIDE-BAR */
.side-bar {
    width: 250px;
    /* TODO Da rimuovere */
    border: 2px solid yellow;
}



/* MAIN APP */
.main-app {
    width: calc(100% - 250px);
    /* TODO Da rimuovere */
    border: 2px solid greenyellow;
    overflow: auto;

}

/* TODO Gestire restringimento schermo */
.top-banner {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.60);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 25px;
    position: fixed;
    left: 250px;
    right: 0px;
    z-index: 2;
}

.btn {
    border: 2px solid #FFF;
    padding: 10px 40px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
}

.btn:hover {
    padding: 12px 48px;
}

.content {
    background-color: #141922;
    padding: 80px 10px 0px 10px;
}


/* NAVIGATION BAR */

.content-bar {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0px;
    line-height: 40px;
}

.content-bar > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-bar a {
    padding: 5px 10px;
    margin: 0px 10px;
    text-decoration: none;
    color: #FFF;
}

/* CONTENT */

.section-content {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc((100% - 5px * 2 * 6) / 6);
    text-align: center;
    margin: 5px;
    /* TODO Da rimuovere */
    border: 2px solid greenyellow;
}

.card-img {
    position: relative;
}

.card-img > img {
    object-fit: cover;
    width: 100%;
}

.play {
    font-size: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.circle-img {
    border-radius: 100%;
}


.card:hover .play {
    display: block;
}

.card:hover .card-img > img {
    opacity: 50%;
}



/* FOOTER */

footer {
    height: 100px;
    background-color: #282828;
    /* TODO Da rimuovere */
    border: 2px solid red;
    
}




/**************************
   MEDIAQUERY
**************************/

@media all and (max-width: 1100px){

    .card {
        width: calc((100% - 5px * 2 * 4) / 4);
    }

 }


@media all and (max-width: 700px){

    .card {
        width: calc((100% - 5px * 2 * 2) / 2);
    }
    
    .play {
        font-size: 10vw;
    }

}


@media all and (max-width: 600px){

    .side-bar {
        width: 50px;
    }
    
    /* MAIN APP */
    .main-app {
        width: calc(100% - 50px);  
    }


}