@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    color: #FFF;
}

/**************************
   COMMONS
**************************/

/* CONTAINERS */

.flex-div {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}



/* TEXT FORMATTING */

.f-size-L {
    font-size: 20px;
}

.f-size-M {
    font-size: 16px;
}

.f-size-S {
    font-size: 12px;
}

.f-bold {
    font-weight: 800;
}

.f-trans {
    opacity: 80%;
}

/**************************
   MAIN LAYOUT - DESKTOP
**************************/

main {
    display: flex;
    height: calc(100vh - 100px);
}


/* SIDE-BAR */
.side-bar {
    width: 300px;
    /* TODO Da rimuovere */
    border: 2px solid yellow;
}

/* MAIN APP */
.main-app {
    width: calc(100% - 300px);
    /* TODO Da rimuovere */
    border: 2px solid greenyellow;
    overflow: auto;

}

.section-content {
    display: flex;
    flex-wrap: wrap;
}

.top-banner {
    height: 80px;
    background-color: #000;
    opacity: 60%;
    position: fixed;
    left: 300px;
    right: 0;
}

.content {
    background-color: #141922;
    padding: 80px 10px 0px 10px;
}


.card {
    width: calc((100% - 5px * 2 * 6) / 6);
    text-align: center;
    margin: 5px;
    /* TODO Da rimuovere */
    border: 2px solid greenyellow;
}

.card-img {
    position: relative;
}

.card-img > img {
    width: 100%;
}

.play {
    font-size: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/* CONTENT */





/* FOOTER */

footer {
    height: 100px;
    background-color: #282828;
    /* TODO Da rimuovere */
    border: 2px solid red;
    
}




/**************************
   MEDIAQUERY
**************************/

 @media all and (max-width: 1100px){

 }


 @media all and (max-width: 700px){

}


@media all and (max-width: 600px){

}